.about-page{
    position: absolute;
    width: 100%;
    top: 10vh;
    left:0;
}
.about-page .left-content{
position: relative;
}
.about-page .left-content .content{
    color: black;
}
.about-page .left-content .content h1{
    margin: 10px 0px;
    text-align: center;
}

.about-page .left-content .content ul li{
    font-size: 20px;
    line-height: 50px;
}
.about-page .right-content{
    position: relative;
background-color: var(--main-black-color);
}
.about-page .right-content .content {
    color: white;
}
.about-page .right-content .content h1{
    margin: 10px 0px;
    text-align: center;
}

.about-page .right-content .content ul li{
    font-size: 20px;
    line-height: 50px;
}