.exam-page .exams-subject{
    text-align: left;
    font-size: 18px;
}
.exam-page .timings{
    font-size: 18px !important; 
}
.exam-page .exams-col{
    padding: 15px;
}
.exam-page .exams col p{
    font-size:15px;
}
.exam-page .student-card-body{
    margin-top: 30px ;
}
/* .card-button{
    width: 100%;
    background-color: #F4831F;
    border: none;
    padding: 0;
} */
.exam-page .card{
    margin: 20px;
    -webkit-box-shadow: 9px 10px 5px -3px rgba(84,18,0,1);
-moz-box-shadow: 9px 10px 5px -3px rgba(84,18,0,1);
box-shadow: 9px 10px 5px -3px rgba(84,18,0,1);
}

