.exam-page .exams-subject {
    text-align: left;
    font-size: 18px;
}

.exam-page .timings {
    font-size: 18px !important;
}

.exam-page .exams-col {
    padding: 15px;
}

.exam-page .exams col p {
    font-size: 15px;
}

.exam-page .student-card-body {
    margin-top: 30px;
}

/* .card-button{
    width: 100%;
    background-color: #F4831F;
    border: none;
    padding: 0;
} */
.exam-page .card {
    margin: 20px;
    -webkit-box-shadow: 2px 2px 6px 5px rgba(94, 92, 94, 1);
    -moz-box-shadow: 2px 2px 6px 5px rgba(94, 92, 94, 1);
    box-shadow: 2px 2px 6px 5px rgba(94, 92, 94, 1);

}