.exam-page .exams-subject{
    text-align: left;
    font-size: 18px;
}
.exam-page .timings{
    font-size: 18px !important; 
}
.exam-page .exams-col{
    padding: 15px;
}
.exam-page .exams col p{
    font-size:15px;
}
.exam-page .student-card-body{
    margin-top: 30px ;
}
/* .card-button{
    width: 100%;
    background-color: #F4831F;
    border: none;
    padding: 0;
} */


