.subject p{
    font-size: 20px;
    font-weight: 300;
}
.questions p{
    font-size: 20px;
    font-weight: 350;
}
.questions input{
    height: 15px;
    width: 15px;
    border-radius: 10px;
    top: 0;
}
.questions .options p{
    margin-left: 10px;
}
.section-questions{
    border-right: 1px solid #d2d7d2;
    height: 420px;
}

.btn-right-section .btn{
    border: 1px solid rgb(180, 177, 177) !important;
    background-color: #66d9e6;
    width:40px;
    font-weight: 350;
    border-radius: 5px;
}
.timer p{
    float: right;
    font-size: 20px;
    font-weight: 300;
}
.timer button{
    border: none;
    background-color: red;
    color: white;
    padding: 2px 20px 2px 20px;
    border-radius: 10px;
}
.giveexam-btn{
    
    display: flex;
}
.giveexam-btn .btn{
    width:40px;
    font-weight: 350;
    border-radius: 3px;
    font-weight: 400;
}
.question-count{
    font-weight: 300;
    font-size: 20px;
}
.question-text{
    font-weight: 300;
    font-size: 25px;
}
.questions-button button{
    justify-content: center;
    align-items: center;
    display: flex;
    float: right;
    margin-left: 70px;
    width: 130px;

}
.give-exam .submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}