.profile-page{
    position: relative;
    height: 90vh;
   
}
.profile-page .profile-conatiner {
  padding: 20px;  
}
.profile-page .profile-conatiner .first-row-container .left-container .image{
height: 300px;
width: 100%;
overflow: hidden;
}
.profile-page .profile-conatiner .first-row-container .left-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    }
    .profile-page .profile-conatiner .first-row-container .right-container{
        position: relative;
        margin: auto;
        color: var(--main-theme-color);
    }
    .profile-page .profile-conatiner .first-row-container .right-container span{
        color: var(--second-main-theme-color);
    }