.admin-dashboard-page .left-content {
  padding: 0;
  position: fixed;
  background-color: var(--main-theme-color);
  height: 90vh;
}

.admin-dashboard-page .right-content{
  margin-left: 16.666667%;
  /* background-color: #fff; */
  overflow: hidden;
}


@media (max-width: 575.98px) {
  .admin-dashboard-page .left-content {
    max-width: 33.33%;
    height: 100%;
  }
 
  .admin-dashboard-page .right-content{
    margin-left: 33.33%;
  }
}