.examinerDashboard .all-content .course-card{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 12px;
    height: 300px;
   }

.examinerDashboard .all-content{
    overflow: hidden;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
 }

 .examinerDashboard  .dashboard-left-content{
    background-color: var(--main-gray-color);
    color: var(--main-white-color);
 }
 .examinerDashboard  .all-content button{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 15px;
    width:80%;
    border: 1px solid var(--main-black-color);
    border-radius: 4px;
    font-weight: 500;
    color: var(--main-black-color);
    padding: 3px;
}
.examinerDashboard  .all-content button:hover{
    color:white;
    background-color: var(--main-black-color);
}  
.examinerDashboard  .all-content  .AddStudent{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.examinerDashboard  .all-content  .SubjectAdd{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.examinerDashboard  .all-content  .subjectShow{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
} 
.examinerDashboard  .all-content  .button-container{
    
}

