.Add-Subject{
    height: 90vh;
}
.Add-Subject  .all-content{
    height:max-content;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.Add-Subject  .all-content button{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 15px;
    width: 20%;
    border: 1px solid var(--main-black-color);
    border-radius: 4px;
    font-weight: 500;
    color: var(--main-black-color);
    padding: 3px;
}
.Add-Subject  .all-content button:hover{
    color: white;
    background-color:var(--main-black-color);
}  
.Add-Subject .all-content input{
    width: 50%;
    padding: 5px 20px 5px 20px;
    border:none;
    border-radius: 4px;
    border:1px solid #4e4343;
    margin: 15px 0;
    font-weight: 500;
}
.Add-Subject .all-content input:focus-visible{
    outline: none;
}