.exams-subject{
    text-align: left;
    font-size: 18px;
}
.timings{
    font-size: 18px !important; 
}
.exams-col{
    padding: 15px;
}
.exams col p{
    font-size:15px;
}
.student-card-body{
    margin-top: 30px ;
}
.card-button{
    width: 100%;
    background-color: #F4831F;
    border: none;
}
