.Student-Signup .all-content{
position: relative;
text-align: center;
}
.Student-Signup .CreateCourseButton{
    margin-right: 50px;
    background-color: var(--main-theme-color);
    color:white;
    display:flex;
    margin-bottom: 25px;
    font-size: 18px;
    margin-top: 30px;
}
.Student-Signup .CreateCourseButton:hover{
    border: 3px solid var(--main-theme-color);
    background-color: transparent;
    color: var(--main-theme-color);
  }
.Student-Signup .all-content .label{
    padding-top: 16px;
    font-size: 16px;
    font-weight: 500;
}
.Student-Signup .all-content .firstrow{
    padding-top: 20px;
}
.Student-Signup .all-content .content {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px black;
    background-color: lightslategrey;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
    width: 60%;
    }
.Student-Signup{
    background-color:aliceblue;
}
    .Student-Signup h2{
    color:var(--main-black-color);
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    }

    .Student-Signup .all-content .content input{
        width: 80%;
        padding: 5px 20px 5px 20px;
        border:none;
        border-radius: 4px;
        border:1px solid #4e4343;
        margin-left: auto;
        margin-right: auto;
        margin: 15px 0;
        font-weight: 500;
    }
.Student-Signup .all-content .content .form-control{
    display:-webkit-inline-box;
}
    /* .Student-Signup .all-content .content select{
        color: black;
    } */
    .Student-Signup .all-content .content select{
        width: 80%;
        padding: 5px 20px 5px 20px;
        border:none;
        border-radius: 4px;
        border:1px solid #4e4343;
        margin: 15px 0;
        font-weight: 500;
    }
  /* .Student-Signup .all-content .content  .studentGender{
        border: 0;
        border-bottom: 2px solid #F4831F;
        margin-bottom: 7px;
        padding-top: 15px;
    } */

    .Student-Signup .all-content .content input:focus-visible{
        outline: none;
    }
    
    .Student-Signup .all-content .content input::placeholder{
        color: var(--main-gray-color)!important;
    }
    .Student-Signup .all-content .content form button{
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        margin-top: 15px;
        width: 30%;
        border: 1px solid var(--main-black-color);
        border-radius: 4px;
        font-weight: 500;
        margin-bottom: 20px;
        color: var(--main-black-color);
        padding: 5px;
    }
    .Student-Signup .all-content .content form button:hover{
        color: white;
        background-color:var(--main-black-color) ;
    }  
@media only screen and (max-width:1199.98px) {
    .Student-Signup .all-content{
        height: 600px;
        overflow: hidden;
        position: relative;
        text-align: center;
        }
}
@media (max-width: 991.98px) {
    .Student-Signup .all-content{
        height: 600px;
        overflow: hidden;
        position: relative;
        text-align: center;
        }
} 
/* @media (max-width: 767.98px) {
    .Student-Signup .all-content{
        height: 600px;
        overflow: hidden;
        position: relative;
        text-align: center;
        }
        
} */
@media (max-width:575.98px) { 
    .Student-Signup .all-content{
        height:700px;
        overflow: hidden;
        position: relative;
        text-align: center;
        }
}