/* banner-section */
.home-page::before {
    content: "";
    display: block;
    background: #0a0a0a94;
    height: 100%;
    width: 100%;
    position: absolute;
}

.home-page {
    background-image: url('https://wallpaperaccess.com/full/2785188.jpg');
    height: 80vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
}

.home-page .content {
    color: #fff;

}

.home-page .content h1 {
    font-size: 50px;
    font-weight: 700;
}

.home-page .content p {
    font-size: 20px;
    font-weight: 500;
}

.home-page .content button {
    color: #fff;
    border: 2px solid #fff;
    /* background-color: white; */
    /* border-radius: 25px; */
    width: 40%;
    font-size: 17px;
    font-weight: 500;
}

.home-page .content button:hover {
    /* transition: 1s ease-in-out; */
    background-color: var(--main-black-color);
    color: #fff;
}

/* cards-Section */
.cardSection {
    margin: 40px 0px;
}

.cardSection h5 {
    text-align: center;
}

.cardSection .my-img {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cardSection .my-img img {
    height: 100%;
    width: 100%;
    transition: all .3s ease-in 0s;
}

.cardSection .content {
    display: none;
    width: 90%;
    color: #fff;
}

.cardSection .columns:hover img {
    /* -ms-transform: scale(1.1);  */
    /* -webkit-transform: scale(1.1);  */
    transform: scale(1.1);
    filter: brightness(40%);
}

.cardSection .columns:hover .content {
    display: block;
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}