.new-requests-page h2 {
  color: var(--main-theme-color);
  margin-bottom: 25px;
}
.new-requests-page form input{
  border: 2px solid var(--main-theme-color);
  border-radius: 12px;
}
.new-requests-page form input::placeholder {
  color: var(--main-theme-color);
}
.new-requests-page .table{
  background-color: var(--main-white-color);
}
.new-requests-page .table thead tr th{
  color: var(--main-theme-color);
}
.new-requests-page .content-box .main-index{
  color: var(--main-theme-color);
}
.new-requests-page .content-box .btn {
  padding: 0;
  font-weight: 500;
}
.new-requests-page .content-box:hover{
  background-color: #ffe4b53d;;
}
.new-requests-page .pageButtons{
  text-align: center;
}
.new-requests-page .pageButtons button{
  width: 100px;
  overflow: hidden;
  background-color: var(--main-theme-color);
  color: var(--main-white-color);
  border: 1px solid var(--main-theme-color);
  border-radius:8px ;
}