.new-requests-page .content-box{
 box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 border-radius: 12px;
}
.new-requests-page .content-box .requests-right-content{
    justify-content: right;
}
.new-requests-page .content-box .requests-right-content .btn{
padding: 0;
margin: 0px 10px;
}