.Student-Courses  .all-content{
    height:max-content;
    overflow: hidden;
    /* top:20px; */
    margin-bottom:30px;
    position: relative;
    border-radius:4px;
    text-align: center;
    padding-bottom:20px;
}
.Student-Courses .modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    position: absolute;
    top: 50%;
    box-shadow: 2px 2px 32px #472e2e;
    left: 50%;
    border-radius:15px ;
    width: 50%;
    transform: translate(-50%,-50%);
}
.Student-Courses .modal-body input{
   margin-bottom: 20px;
   width: 100%;
   border: 1px solid black;
   padding: 3px 55px 10px 15px;
}
.Student-Courses{
    height: 90vh;
}
.Student-Courses .modal-footer button{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 15px;
    width: 30%;
    border-radius: 15px;
    font-weight: 500;
    color: var(--main-black-color);
    padding: 6px;
    outline: none;   
}
.Student-Courses .modal-footer button:active {
    outline: none;
    border: none;
    }
.Student-Courses .modal-footer button:focus {
    outline:0;
    border: none;
}
.Student-Courses .modal-footer button:hover{
    color: white;
    background-color: var(--main-black-color);
}  
.Student-Courses .all-content input{
    width: 50%;
    padding: 5px 20px 5px 20px;
    border:none;
    border-radius: 4px;
    border:1px solid #4e4343;
    margin: 15px 0;
    font-weight: 500;
}
