.Login_Container{
    margin-top: 50px;
    border: 1px solid grey;
    height:max-content;
    background-color:rgb(41, 36, 36);
    box-shadow:1px 1px 20px saddlebrown;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.Login_Container h1{
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    text-align: center;
    background: linear-gradient(#eee,#333);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;
}
.Login_Label{
    color: white;
    
}
.Login_input{
    box-shadow:1px 5px 7px saddlebrown;
}
.Login_Submit{
    background-image:linear-gradient( rgb(53, 51, 51) 20%, rgb(196, 187, 187) , rgb(48, 46, 46));
    color: saddlebrown;
    font-weight: 700;
    text-shadow:1px 1px 4px gainsboro;
    justify-content: center;
    align-items: center;
}
.data{
    color: white;
}