.requests-page {
    padding: 0;
background-color: var(--main-gray-color);
border-radius: 8px;
}
.requests-page .side-bar ul {
    padding: 0;
}
.requests-page .side-bar ul li{
list-style-type: none;
height: 80px;
overflow: hidden;
align-items: center;
display: flex;
}

.requests-page .side-bar ul li a{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin: 0px 20px 0px 20px;
 color: rgba(0,0,0,.5);
}

.requests-page .side-bar  ul li:hover{
    background-color: var(--main-black-color);
    
}
.requests-page .side-bar  ul li:hover a{
    color: var(--main-white-color) !important;
}
.requests-page .side-bar  ul li a.active{
    color: var(--main-black-color);
}