.Student-Courses .all-containers{
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    overflow: hidden;
    border-radius: 8px;
    background-color:#e2dede;
}
.Student-Courses .all-containers .all-content{
    height:480px;
    overflow: hidden;
    top:20px;
    position: relative;
    text-align: center;
}
.Student-Courses .all-containers .all-content button{
    margin-top: 15px;
    width: 50%;
    border: 2px solid #F4831F;
    border-radius: 25px;
    font-weight: 700;
    color:#F4831F
}
.Student-Courses .all-containers .all-content button:hover{
    border: 2px solid black;
    background-color: black;
}  