.approved-requests-page h2 {
  color: var(--main-theme-color);
  margin-bottom: 25px;
  /* text-align: center; */
}
.approved-requests-page form input{
  border: 2px solid var(--main-theme-color);
  border-radius: 12px;
}
.approved-requests-page form input::placeholder {
  color: var(--main-theme-color);
}
.approved-requests-page form .searchBtn{
  border: 2px solid var(--main-theme-color);
  border-radius:12px ;
  background-color: var(--main-theme-color);
  color: white;
}
.approved-requests-page .table{
  background-color: var(--main-white-color);
}

.approved-requests-page .table thead tr th{
  color: var(--main-theme-color);
}
.approved-requests-page .content-box .main-index{
  color: var(--main-theme-color);
}
.approved-requests-page .content-box .btn {
  padding: 0;
  font-weight: 500;
}
.approved-requests-page .content-box:hover{
  background-color: #ffe4b53d;
}
.approved-requests-page .pageButtons{
  text-align: center;
}
.approved-requests-page .pageButtons a{
  width: 100px;
  overflow: hidden;
  background-color: var(--main-theme-color);
  color: var(--main-white-color);
  border: 1px solid var(--main-theme-color);
  border-radius:8px ;
}
