.approved-requests-page h2 {
  color: var(--main-black-color);
  margin-bottom: 25px;
  /* text-align: center; */
}

.approved-requests-page .content-box .btn {
  padding: 0;
  font-weight: 500;
}
.approved-requests-page .content-box:hover{
  background-color: aliceblue;;
}