.approved-requests-page h2{
    color: var(--main-theme-color);
    margin-bottom: 15px;
}
.approved-requests-page .content-box{
 box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 border-radius: 12px;
}
.approved-requests-page .content-box .email{
    font-weight: 500;
    font-size: 18px;
}

.approved-requests-page .content-box .requests-right-content .btn{
    padding: 0;
    margin: 0px 20px;
    font-weight: 500;
        font-size: 18px;
    }