.header .navbar{
    height: 10vh;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 15%) 0 0 8px;
    background-color: var(--main-white-color);
}
.header .navbar-brand img{
    height: 50px ;
    width: 150px;
}

.header ul li a{
    font-size: 15px;
    font-weight: 700;
    padding: 5px 30px 5px 30px !important;
    margin: 0px 5px 0px 5px;
    color: var(--main-black-color) !important;
}

.header ul a:hover{
    color: var(--main-white-color) !important;
    background-color: var(--main-black-color);
}
.header ul li a.active{
    color: var(--main-white-color) !important;
    background-color: var(--main-black-color);
}

/* .header ul li a.active li{ 
    background-color: var(--main-black-color);
} */