.student-sidebar-page .side-bar ul{
    padding: 0;
}
.student-sidebar-page .side-bar ul li{
    list-style-type: none;
    height: 80px;
    overflow: hidden;
    align-items: center;
    display: flex;
}
.student-sidebar-page .side-bar ul li a{
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    margin: 0px 10px 0px 10px ;
    padding: 10px !important;
    color: var(--second-main-theme-color);
}
.student-sidebar-page .side-bar ul a:hover{
    /* background-color: var(--main-white-color); */
    color: #b19c6e;
    border-bottom: 2px solid #b19c6e;
}
.student-sidebar-page .side-bar ul li a.active{
    /* background-color: var(--main-white-color); */
    /* color: #b19c6e; */
    border-bottom: 2px solid var(--second-main-theme-color);
    /* border-bottom: 2px solid #b19c6e; */
}
