.signup-page {
  position: relative;
  background-image: url('https://wallpaperaccess.com/full/2785188.jpg');
  background-size: cover;
  }
  .signup-page::before {
    content: "";
    display: block;
    background: #0a0a0a94;
    height: 100%;
    width: 100%;
    position: absolute;
}
  
.signup-page .formsSection {
  background-color: #ffffffb5;
  width: 50%;
  overflow: hidden;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}

.signup-page .formsSection input {
  background-color: transparent;
  width: 100%;
  padding: 12px 20px 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid var(--main-black-color);
  font-weight: 500;
}
.signup-page .formsSection input:-internal-autofill-selected {
  background-color: transparent;
}

.signup-page .formsSection input:focus-visible {
  outline: none;
}

.signup-page .formsSection ::placeholder {
  color: grey;
}

.signup-page .formsSection button {
  margin-top: 15px;
  width: 50%;
  border: 2px solid var(--main-black-color);
  border-radius: 25px;
  font-weight: 700;
  color: var(--main-black-color);
}

.signup-page .formsSection button:hover {
  background-color: var(--main-black-color);
  color: white;
}

.signup-page .formsSection .signupLink {
  margin-top: 15px;
  font-weight: 500;
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
} 