.margin-from-top{
    margin-top: 5rem;
}

.all-containers{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    border-radius: 8px;
}

.absolute-center{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.center-content-in-div{
    align-items: center;
    justify-content: center;
    display: flex;
}

.approveButton{
    color: green;
    }
     .declineButton{
        color: red;
        }
        .deleteButton{
            color: red;
            }

            .requests-right-content{
                justify-content: right;
            }