#root {
    --main-black-color: #000;
    --main-white-color: #fff;
    --main-gray-color:#e2dede;

    --main-theme-color:#4A171E;
    --second-main-theme-color:#E2B144;
    --alternate-theme-color:#eaa713;
  }
  