.student-result .result-bottom{
    display: flex;   
    margin-top: 10px; 
    position: relative;
    /* bottom: 15px; */
}
.student-result .results-container{
    padding-left: 20px;
}
.student-result .results-col{
    margin-top: 30px;
    margin-bottom: 10px;
}

.student-result .result-bottom .btn{
    background-color: var(--main-theme-color);
    color: white;
    font-weight: 600;
    margin-left:70px; 
    width: 50%; 
    /* float: right; */
}
.student-result .result-bottom p{
    width: 50%;
}
.student-result .card{
    -webkit-box-shadow: 9px 10px 5px -3px rgba(84,18,0,1);
-moz-box-shadow: 9px 10px 5px -3px rgba(84,18,0,1);
box-shadow: 9px 10px 5px -3px rgba(84,18,0,1);
}