.examiner-sidebar-page{
    padding: 0;
    background-color: var(--main-gray-color);
    /* border-radius: 8px; */
}
.examiner-sidebar-page .side-bar ul {
    padding: 0;
}
.examiner-sidebar-page .side-bar ul li{
list-style-type: none;
height: 80px;
overflow: hidden;
align-items: center;
display: flex;
}

.examiner-sidebar-page .side-bar ul li a{
    width:100%;
    font-size: 20px;
    font-weight: 700;
    margin: 0px 20px 0px 20px;
    color: rgba(0,0,0,.5);
}

.examiner-sidebar-page .side-bar  ul li:hover{
    background-color: var(--main-black-color);
    
}
.examiner-sidebar-page .side-bar  ul li:hover a{
    color: var(--main-white-color) !important;
}
.examiner-sidebar-page .side-bar  ul li a.active{
    color: var(--main-black-color);
}