.examiner-sidebar-page{
    padding: 0;
    background-color:var(--main-theme-color);
    height:90vh;
    position: fixed;
    width:16.66%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
/* .examiner-sidebar-page .side-bar ul {
    padding: 0;
}
.examiner-sidebar-page .side-bar ul li{
list-style-type: none;
height: 80px;
overflow: hidden;
align-items: center;
display: flex;
}
.examiner-sidebar-page .side-bar ul li button{
    padding-left: 0px;
    color:  rgb(248 245 245 / 75%);
    font-weight: 700;
    font-size: 20px;
}
.examiner-sidebar-page .side-bar ul li a{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    /* margin: 0px 10px 0px 10px; */
    /* background-color: black; */
    /* padding: 10px !important; */
    /* color: rgb(248 245 245 / 75%); */

/* }  */
.examiner-sidebar-page .side-bar  ul a:hover{
    color: #b19c6e !important ;
    border-bottom: 2px solid #b19c6e;
}
.examiner-sidebar-page .side-bar  ul li a.active{
    border-bottom: 2px solid var(--second-main-theme-color);
}


.examiner-sidebar-page .side-bar ul {
    padding: 0;
}
.examiner-sidebar-page .side-bar ul li{
list-style-type: none;
height: 80px;
overflow: hidden;
align-items: center;
display: flex;
}

.examiner-sidebar-page .side-bar ul li a{
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    margin: 0px 10px 0px 10px;
    padding: 10px !important;
    color: var(--second-main-theme-color);
    /* color: #b19c6e; */
}


.examiner-sidebar-page .side-bar ul {
    padding: 0;
}
.examiner-sidebar-page .side-bar ul li{
list-style-type: none;
height: 80px;
overflow: hidden;
align-items: center;
display: flex;
}

.examiner-sidebar-page .side-bar ul li a{
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    margin: 0px 10px 0px 10px;
    padding: 10px !important;
    color: var(--second-main-theme-color);
    /* color: #b19c6e; */
}

.examiner-sidebar-page .side-bar  ul a:hover{
    /* background-color: var(--main-white-color); */
 color: #b19c6e !important ;
 border-bottom: 2px solid #b19c6e;
}
.examiner-sidebar-page .side-bar  ul li a.active{
    /* background-color: var(--main-white-color);
    color:var(--main-theme-color) !important ; */
    /* color: var(--second-main-theme-color) !important ; */
    border-bottom: 2px solid var(--second-main-theme-color);
    /* color: var(--second-main-theme-color) !important; */
}
.examiner-sidebar-page .side-bar ul li button{
    padding-left: 0px;
    color:var(--second-main-theme-color);
    font-weight: 700;
    font-size: 18px;
}
